
.login-page .logo {
  min-height: 250px;
  text-align: center;
}

.login-page .logo img {
  max-width: 150px;
}

.login-page .loginContent{   
    width: 100%;
    height: 100%;
}

.login-page .loginItem{
  background:transparent !important;
}